.root {
    /* color of (buttons, thumb, etc.) */
    -fx-base: rgb(120, 120, 120);
    -fx-background: rgb(50, 50, 50);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 20%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(120, 120, 120);
    /* alternating color rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 20%);

    /* A yellow for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(255,255,255);
}

.choice-box > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused {
    -fx-background-color: white;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: #333333;
}

.choice-box .menu-item > .label {
    -fx-text-fill: #e1e1e1;
}

.list-cell {
    -fx-text-fill: white;
}

.list-cell:selected {
    -fx-text-fill: black;
}

.text {
    -fx-text-fill: #ffffff;
}

/* color brightness for text field prompt values */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, 50%);
    -fx-text-fill: white;
}

.button{
    -fx-text-fill: #ffffff;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}


.button:hover{
    -fx-text-fill: #ffffff;
    -fx-background-color: #009991;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}